@model AddNewSongViewModel
@{
	ViewData["Title"] = "Dodaj nowy utwór";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Song" asp-action="SaveNewSong" method="post" enctype="multipart/form-data" >
	@if (Model != null && Model.Info != null && Model.Info.Length != 0)
	{
		<label class="warning label-warning">@Model.Info</label>
	}

	<h3>Tytuł</h3>
	<input name="Title" asp-for="Title" value="@Model.Title" class="form-control" />

	<h3>Autor</h3>
	<input name="Author" asp-for="Author" value="@Model.Author" class="form-control" />

	<h3>Album</h3>
	<input name="Album" asp-for="Album" value="@Model.Album" class="form-control" />

	<h3>Gatunek</h3>
	<input name="Genre" asp-for="Genre" value="@Model.Genre" class="form-control" />

	<h3>Data publikacji</h3>(format: YYYY)
	<input name="Year"  asp-for="Year" value="@Model.Year" pattern="^[1-2][0-9]{3}$" class="form-control" />

	<h3>Wybierz plik</h3>
	<input name="File" asp-for="File" value="@Model.File"  type="file"  accept=".mp3" />
	<br />
	<button type="submit" class="btn btn-default">Dodaj</button>
</form>