@model CreateRoomViewModel
@{
	ViewBag.Title = "CreateRoom";
}

<h2>Tworzenie nowego pokoju</h2>
<form asp-controller="Room" asp-action="CreateRoom" method="post">
	<h3>Podaj nazwę pokoju</h3>
	<input name="name" class="form-control" />

	<h3>Wybierz utwory</h3>
	<table class="table table-bordered table-responsive table-hover">
		<tr class="theader-dark">
			<th>ID</th>
			<th>Tytuł</th>
			<th>Wykonawca</th>
			<th>Album</th>
			<th>Gatunek</th>
			<th>Rok</th>
			<th>Wybór</th>
		</tr>

		@foreach (var song in Model.AvailableSongs)
		{
			<tr>
				<td>@song.Id</td>
				<td>@song.Title</td>
				<td>@song.Author</td>
				<td>@song.Album</td>
				<td>@song.Genre</td>
				<td>@song.Year</td>
				<td>
					<input type="checkbox" name="songIds" value="@song.Id">
				</td>
			</tr>
		}
	</table>
	<button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("CreateRoomView", "Room")'">Utwórz nowy pokój</button>
</form>

<h3>Nie znalazłeś utworu, którego szukasz?</h3>
<button type="submit" class="btn btn-default"  onclick="location.href='@Url.Action("AddNewSongView", "Song")'" >Dodaj nowy utwór</button>
