@model Muzziq.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <table class="table">
        <tr>
        <th>Id: </th>
        <th>Nazwa: </th>
        <th>Założyciel: </th>
        <th>Rozgrywki: </th>
        <th>Gracze: </th>
        </tr>
        <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.OwnerId</td>
        <td>@Model.Matches</td>
        <td>@Model.Players</td>
        </tr>
    </table>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
